<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NodeJS问答社区</title>
    <link type="text/css" rel="stylesheet" href="lib/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="layui/css/layui.css">
    <link type="text/css" rel="stylesheet" href="css/index.css">
    <script src="lib/jquery-3.1.0.min.js"></script>
    <script src="lib/jquery.cookie.js"></script>
    <script src="lib/angular.js"></script>
    <script src="layui/layui.js"></script>
    <script src="js/angular-index.js"></script>
    <script src="js/layui-index.js"></script>
</head>
<body ng-app="indexPage" ng-controller="rootController">
    <header>
        <div class="layui-header">
            <div class="container">
                <a class="logo" href="/">NodeJS 问答社区</a>
                <ul class="layui-nav">
                    <li class="layui-nav-item layui-this">
                        <a href="index.html">首页</a>
                    </li>
                    <li class="layui-nav-item ">
                        <a href="#" class="goAskBtn">问答</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="#" class="goLogin" ng-if="!signerID">登录 · 注册</a>
                        <div ng-show="signerID">
                            <a href="" class="goUserInfo" ng-click="goLookUserInfo()"><img src="../images/avatar/{{signerAva}}" class="avatar-s"></a>
                            <a href="" class="logout">退出</a>
                        </div>
                    </li>
                    <li class="layui-nav-item">
                        <a href="#" class="">APP下载</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h1>NodeJS 问答交流社区<small> 2.0</small></h1>
                <p>嘿~小伙，欢迎来到这里，NodeJS 问答交流社区助你变大牛！</p>
            </div>
        </div>
    </header>
    <main>
        <div class="container clearfix">
            <div class="questionsBox shadow" ng-controller="questionsController">
                <blockquote class="layui-elem-quote question-item clearfix" ng-repeat="q in questions">
                    <div class="answerNum {{q.answers.length>0 ? 'hasAnswer' : 'unhasAnswer'}}">
                        <p class="answer-count">{{q.answers.length}}</p>
                        <p>回答</p>
                    </div>
                    <div class="question-info">
                        <div class="question-title" ng-click="goLookQuestion(q._id)">{{q.title}}</div>
                        <div class="question-time clearfix">
                            <div class="question-time1">{{q.createTime | date:"yyyy-MM-dd HH:mm"}}</div>
                            <div class="question-time2">{{q.updateTime | timeSurplus}}</div>
                        </div>
                        <!--<div class="question-topic" ng-repeat="t in topics">
                            <span class="topic-item">{{t.description}}</span>
                        </div>-->
                    </div>
                </blockquote>

                <!-- 分页 -->
                <div id="index-pageList" ng-controller="pageListController"></div>
            </div>
            <div class="main-right shadow">
                <!--前往提问页面-->
                <div class="goAsk">
                    <p>今天，你编程遇到了什么问题呢？</p>
                    <button type="button" class="layui-btn">提问</button>
                </div>
                <!--热门话题-->
                <div class="panel panel-default hotTopic">
                    <div class="panel-heading">热门话题</div>
                    <div class="panel-body">
                        <span class="topic-item">javaScript</span>
                        <span class="topic-item">node</span>
                        <span class="topic-item">angular</span>
                        <span class="topic-item">ionic</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>

    <div id="form-ask" ng-controller="form-ask-controller">
        <form class="layui-form" name="askForm" ng-model="askForm" novalidate>
            <div class="layui-form-item">
                <input type="text" name="title" placeholder="给你的问题起个简要的标题吧~" autocomplete="off"  ng-model="title" required ng-maxlength="20"
                    class="layui-input {{askForm.title.$dirty ? (askForm.title.$valid ? '' : 'unPass') : ''}}">
                 <div class="layui-form-mid layui-word-aux unPass" ng-if="askForm.title.$dirty && askForm.title.$invalid">问题的名字太长。。。</div>
            </div>
            <div class="layui-form-item">
                <span class="topic-item">layui</span>
                <span class="topic-item">javaScript</span>
                <span class="topic-item">node</span>
                <span class="topic-item">angular</span>
                <span class="topic-item">ionic</span>
            </div>
            <div class="layui-form-item">
                <textarea name="description" placeholder="有什么不懂的只管说！" required ng-model="description" ng-maxlength="1024"
                    class="layui-textarea {{askForm.description.$dirty ? (askForm.description.$valid ? '' : 'unPass') : ''}}"></textarea>
                <div class="layui-form-mid layui-word-aux unPass" ng-if="askForm.description.$dirty && askForm.description.$invalid">长度已经达到1024了！真的不能再多了</div>
            </div>
            <div class="layui-form-item" style="text-align: center">
                <button type="submit" ng-disabled="askForm.$invalid" ng-click="askNow()"
                    class="layui-btn {{askForm.$dirty ? (askForm.$valid ? 'layui-btn-normal' : 'layui-btn-disabled') : 'layui-btn-disabled'}} ">发布</button>
            </div>
        </form>
    </div>

    <div id="form-login" ng-controller="form-login-controller">
        <form class="layui-form" name="lgi" ng-model="lgi" novalidate>
            <div class="layui-form-item">
                <label class="layui-form-label">用户名:</label>
                <div class="layui-input-inline">
                    <input name="username" type="text" placeholder="请输入用户名" autocomplete="off"
                     required ng-pattern="/^[\u4e00-\u9fa5\w]{2,10}$/" ng-model="username"
                     class="layui-input {{lgi.username.$dirty ? (lgi.username.$valid ? '' : 'unPass') : ''}}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码:</label>
                <div class="layui-input-inline" style="position: relative;">
                    <input name="password" type="password" placeholder="请输入密码" autocomplete="off" 
                    required ng-pattern="/^[\w\S]{6,16}$/" ng-model="password"
                    class="layui-input {{lgi.password.$dirty ? (lgi.password.$valid ? '' : 'unPass') : ''}}">
                    <p class="forgetPass"><a href="#">忘记密码？</a></p>
                </div>
            </div>
            <div class="layui-form-item" style="text-align:center">
                <button type="submit" ng-disabled="lgi.$invalid" ng-click="loginNow()"
                    class="layui-btn {{lgi.$dirty ? (lgi.$valid ? 'layui-btn-normal' : 'layui-btn-disabled') : 'layui-btn-disabled'}}">登录</button>
            </div>
        </form>
    </div>
    <div id="form-register" ng-controller="form-register-controller" ng-init="canUse=true;">
        <form class="layui-form" name="join" ng-model="join" novalidate>
            <div class="layui-form-item">
                <label class="layui-form-label">用户名:</label>
                <div class="layui-input-inline">
                    <input type="text" name="username" placeholder="请输入用户名" autocomplete="off" 
                        required ng-pattern="/^[\u4e00-\u9fa5\w]{2,10}$/" ng-model="username" 
                        class="layui-input {{join.username.$dirty ? (join.username.$valid&&canUse ? '' : 'unPass') : ''}}">
                    <div class="layui-form-mid layui-word-aux">* 用户名可以由汉字、数字、字母和下划线组成,长度在2~10位</div>
                    <div class="layui-form-mid layui-word-aux unPass nameYz" ng-if="!canUse">*用户名已存在</div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码:</label>
                <div class="layui-input-inline">
                    <input type="password" name="passwd" required placeholder="请输入密码" autocomplete="off" 
                        required ng-pattern="/^[\w\S]{6,16}$/" ng-model="passwd"
                        class="layui-input {{join.passwd.$dirty ? (join.passwd.$valid ? '' : 'unPass') : ''}}">
                    <div class="layui-form-mid layui-word-aux">* 密码支持数字、字母、下划线,长度为6~16位</div>
                    <div class="layui-form-mid layui-word-aux unPass" ng-if="join.passwd.$dirty && join.passwd.$invalid">长度不够或出现非法字符(特殊符合、汉字、空格)</div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码:</label>
                <div class="layui-input-inline">
                    <input type="password" name="passwd2" required placeholder="重新输入密码" autocomplete="off" ng-pattern="passwd"
                        required ng-model="passwd2" class="layui-input {{join.passwd2.$dirty ? (passwd==passwd2 ? '' : 'unPass') : ''}}">
                    <div class="layui-form-mid layui-word-aux unPass" ng-if="join.passwd2.$dirty && join.passwd2.$invalid">* 两次输入的密码不一致</div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电子邮箱:</label>
                <div class="layui-input-inline">
                    <input type="email" name="email" required placeholder="请输入电子邮箱地址" autocomplete="off" 
                        required ng-pattern="/^([\w\.-]+)@([\w\.-]+)\.([a-zA-Z\.]+)$/" ng-model="email"
                        class="layui-input {{join.email.$dirty ? (join.email.$valid ? '' : 'unPass') : ''}}">
                    <div class="layui-form-mid layui-word-aux">* 电子邮箱用于更改密码和找回密码&#x3000;&#x3000;&#x3000;&#x3000;</div>
                    <div class="layui-form-mid layui-word-aux unPass" ng-if="join.email.$dirty && join.email.$invalid">电子邮箱格式不正确</div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别:</label>
                <div class="layui-input-inline">
                    <input type="radio" name="gender" value="2" title="保密" checked>
                    <input type="radio" name="gender" value="1" title="男">
                    <input type="radio" name="gender" value="0" title="女">
                </div>
            </div>
            <div class="layui-form-item" style="text-align:center">
                <button type="submit" class="layui-btn {{join.$dirty ? (join.$valid&&canUse ? 'layui-btn-normal' : 'layui-btn-disabled') : 'layui-btn-disabled'}}" 
                    ng-click="registerNow()" ng-disabled="join.$invalid || !canUse">立即注册</button>
            </div>
        </form>

    </div>


</body>
</html>