<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NodeJS问答社区</title>
    <link type="text/css" rel="stylesheet" href="../lib/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../layui/css/layui.css">
    <link type="text/css" rel="stylesheet" href="../css/question.css">
    <script src="../lib/jquery-3.1.0.min.js"></script>
    <script src="../lib/angular.js"></script>
    <script src="../lib/angular-cookies.js"></script>
    <script src="../layui/layui.js"></script>
    <script src="../js/angular-question.js"></script>
    <script src="../js/layui-question.js"></script>
</head>
<body ng-app="indexPage" ng-controller="rootController">
    <header>
        <div class="layui-header">
            <div class="layui-main">
                <a class="logo" href="/">NodeJS 问答社区</a>
                <ul class="layui-nav">
                    <li class="layui-nav-item">
                        <a href="/">首页</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="#" class="goLogin" ng-if="!signerID">登录 · 注册</a>
                        <div ng-if="signerID">
                            <a href="" class="goUserInfo" ng-click="goLookUserInfo()"><img ng-src="../images/avatar/{{signerAva}}" class="avatar-s"></a>
                            <a href="" class="logout" ng-click="logoutNow()">退出</a>
                        </div>
                    </li>
                    <li class="layui-nav-item">
                        <a href="#" class="goLogin">APP下载</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="container shadow">
            <blockquote class="layui-elem-quote mainQuestion">
                <div class="question-info">
                    <h2 data-qid="<%= q._id %>"><%= q.title %></h2>
                    <p class="topics"><span><%= q.topic.description %></span></p>
                    <p><span>{{<%= new Date(q.createTime).getTime() %> | date: 'yyyy-MM-dd HH:mm:ss'}}</span><span>已有<%= q.answers.length %>个回答</span></p>
                </div>
                <div class="owner-info">
                    <a href="#"><img src="../images/avatar/<%= q.owner.avatar %>" alt="" class="avatar-m"></a>
                    <a href="#"><%= q.owner.username %></a>
                </div>
                <fieldset class="layui-elem-field question-body">
                    <legend>问题描述</legend>
                    <div class="layui-field-box"><%= q.description %></div>
                </fieldset>
            </blockquote>
            <div class="answerList">
                <fieldset class="layui-elem-field question-body">
                    <legend>回答列表</legend>
                    <% q.answers.forEach(function(a){ %>
                        <div class="layui-field-box">
                            <div class="answer-item">
                                <div class="answer-content"><%= a.description %></div>
                                <div class="clearfix">
                                    <div class="answer-info">
                                        <p>{{<%= new Date(a.createTime).getTime() %> | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
                                    </div>
                                    <div class="owner-info">
                                        <a href="#"><img src="../images/avatar/<%= a.owner.avatar%>" alt="" class="avatar-s"></a>
                                        <a href="#"><%= a.owner.username %></a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    <% }); %>
                </fieldset>
            </div>
            <!--我来回答区域-->
            <fieldset class="layui-elem-field question-body">
                <legend>我来回答</legend>
                <div class="layui-field-box" ng-controller="answerController">
                    <form name="ans" ng-model="ans" novalidate>
                        <div class="layui-form-item layui-form-text">
                            <textarea name="desc" placeholder="请输入内容" required ng-model="desc" ng-maxlength="10240"
                                class="layui-textarea {{ans.desc.$dirty ? (ans.desc.$valid ? '' : 'unPass') : ''}}"></textarea>
                            <div class="clearfix"><div class="layui-form-mid layui-word-aux unPass" ng-if="!hasSigner">* 登录后才能回答哦~</div></div>
                            <!--<div class="clearfix"><div class="layui-form-mid layui-word-aux unPass">* 怎么能提交个空的回答呢！</div></div>-->
                            <!--<div class="clearfix"><div class="layui-form-mid layui-word-aux unPass">* 回答的内容太长了。。。</div></div>-->
                        </div>
                        <div class="layui-form-item">
                            <button type="submit" ng-disabled="ans.$invalid"  ng-click="answerNow()"
                                class="layui-btn {{ans.$dirty ? (ans.$valid ? 'layui-btn-normal' : 'layui-btn-disabled') : 'layui-btn-disabled'}}">提交回答</button>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
    </main>
</body>
</html>