<li id="{{_id.toString()}}">
	<div class="media">
		<div class="media-left">
			<div class="agreeMes" style="display: none">{{agree.toString()}}</div>
			<div class="good"><img src="images/icons/+0.png" /></div>
			<div class="count">{{agree.length}}</div>
		</div>
		<div class="media-body">
		    <h4 class="media-heading">{{ownerID.name}}</h4>
		    <p class="info">{{createTime | getTime}}&#x3000;&#x3000;{{createIP | getIP}}</p>
		    <p class="content">{{description}}</p>
		</div>
		<a class="media-right" href="#">
		    <img src="images/avatar/{{ownerID.name}}.jpg" alt="..." onerror="this.src='images/avatar/default.jpg'">
		</a>
	</div>
</li>